/* Basic reset */
.about-container {
    padding: 20px;
    color: #d0ddeb;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: scroll; /* Enable scroll if content overflows */
}
.intro{
    flex: 1.2;
}
/* Intro Section */
.intro h1 {
    font-size: 24px;
    color: #ecf0f1;
    margin-bottom: 15px;
}

.intro p {
    margin-bottom: 20px;
}
.about-container::-webkit-scrollbar {
    display: none;
}

/* For IE and Edge */
.about-container {
    -ms-overflow-style: none;
}
/* Contact Details */
.contact-details h2 {
    font-size: 20px;
    color: #ecf0f1;
    margin-top: 25px;
    margin-bottom: 15px;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.contact-details ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-details li {
    margin-bottom: 10px;
}

/* Skills */
.skills {
    margin-top: 30px;
}

.skills h2 {
    font-size: 20px;
    color: #ecf0f1;
    margin-bottom: 15px;
}

.skill-item {
    margin-bottom: 20px;
}

.skill-item h3 {
    font-size: 18px;
    color: #ecf0f1;
    margin-bottom: 10px;
}

/* Hobbies */
.hobbies {
    margin-top: 30px;
}

.hobbies h2 {
    font-size: 20px;
    color: #ecf0f1;
    margin-bottom: 15px;
}

.hobbies ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
}

.hobbies li {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
}
