.projects-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.project-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 10px; /* Reduced side margins for more space */
  width: calc(33% - 40px); /* Assuming you want 3 cards per row; adjust as needed */
  box-sizing: border-box;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space within the card evenly */
}
*, *:before, *:after {
  box-sizing: border-box;
}
.project-card:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  flex-grow: 1; /* Allows this section to grow and occupy remaining space */
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 120px; /* Set a max-height to ensure images don't take up too much space */
  object-fit: cover; /* Ensures the image covers the area without being stretched or squished */
}

.learn-more {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; /* Centers the button horizontally */
}
