.app-container {
  font-family: 'Arial', sans-serif; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  position: relative;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
